{% extends 'base.html.twig' %}

{% block title %}Fou de séries
{% endblock %}

{% block body %}
    <div class="example-wrapper text-center">
        <h1>
            {{ messageAccueil }}! ✅</h1>
        <img src="images/giphy.gif" class="img-fluid">
    </div>
{% endblock %}
