{% extends 'base.html.twig' %}

{% block title %}Fou de séries!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1> {{ messageAccueil }}! ✅</h1>
    <div class="view overlay">
        <img src="images/netflix.png" class="img-fluid"
            alt="Sample image with waves effect.">
        <a>
            <div class="mask waves-effect rgba-white-slight"></div>
        </a>
    </div>
</div>
{% endblock %}