{% extends 'base.html.twig' %}

{% block title %}Test Entity!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>L'id du titre: {{ id }} et son nom: {{ titre }} ✅</h1>
        <div class="view overlay">
            <img src="images/news.png" class="img-fluid" alt="Sample image with waves effect.">
            <a>
                <div class="mask waves-effect rgba-white-slight"></div>
            </a>
        </div>
    </div>
{% endblock %}
