{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Création de la série</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
