{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Êtes-vous sur de vouloir supprimer la série
            {{ laSerie.titre }}
            ?
        </h1>
        <div class="view overlay zoom">
            <img class="card-img" src="{{ laSerie.image }}" alt="Card image cap"/>
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <form action="{{ path('supprimerOK', {'id': laSerie.id}) }}" method="POST" onSubmit="return(confirm('Êtes-vous sûr ?'))">
            <input type="hidden" name="_token" value="{{ csrf_token(laSerie.id) }}">
            <button type="submit" role="button" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
{% endblock %}