{% extends 'base.html.twig' %}

{% block title %}News!
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{{ messageAccueil }}! ✅</h1>
        <h3>Il y a 4 news le
            {{ "now"|date("d/m/Y") }}.</h3>
        {% for uneNews in listNews %}
        <blockquote class="blockquote bq-primary">
            <p class="bq-title">{{ uneNews.titre }}</p>
            <p> {{ uneNews.resume }} </p>
        </blockquote>
        {% endfor %}
    </div>
{% endblock %}
