{% extends 'base.html.twig' %}

{% block title %}News!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1> {{ messageAccueil }}! ✅</h1>
    <!--Mask with wave-->
    <div class="view overlay">
        <img src="images/news.png" class="img-fluid"
            alt="Sample image with waves effect.">
        <a>
            <div class="mask waves-effect rgba-white-slight"></div>
        </a>
    </div>
</div>
{% endblock %}